{% extends 'base_reservation.html' %}

{% block content %}
<div class="clearfix">
    <span class="left m-2" style="font-size: 20px;">Wellcome, {{ request.user }}</span>
	<a class="btn btn-info right mr-2" href="{% url 'calendar' professional%}?{{ next_month }} "> Next Month >> </a>
    <a class="btn btn-info right mr-2" href="{% url 'calendar' professional%}?{{ prev_month }}"> << Previous Month </a>
    <a class="btn btn-info right mr-2" href="{% url 'schedule_new' %}"> + New Schedule </a>
</div>
<div style="color: blueviolet;">
    {{ calendar }}
</div>
{% endblock %}