{% extends 'account/profile.html' %}
{% load static %}

<!-- Add stylesheets dynamically -->
{% block head_content2 %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
{% endblock %}

{% block center-content %}
<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col col-lg-10 col-xl-8 mx-auto">
        <div class="card rounded-3">
          <div class="card-body p-4">

            <h2 class="text-center my-3 pb-3">My appointments</h2>

            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                     {% if is_pro %}
                         <th scope="col">Client name</th>
                     {% else %}
                         <th scope="col">Professional name</th>
                     {% endif %}
                    <th scope="col">Type of job name</th>
                    <th scope="col">Start appointment </th>
                    <th scope="col">End appointment </th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for appointment in  my_appointments%}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                        {% if is_pro %}
                            <td>{{ appointment.client_id.profile_id.user_id }}</td>
                        {% else %}
                             <td>{{ appointment.professional_id.profile_id.user_id }}</td>
                     {% endif %}
                      <td>{{ appointment.typeOfJob_id.typeOfJob_name }}</td>
                      <td>{{ appointment.start_appointment }}</td>
                      <td>{{ appointment.end_appointment }}</td>
                      <td>
                        <a href="{% url 'appointment_delete' appointment.appointment_id %}" class="btn btn-danger btn-sm">Cancellation of Meeting</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
