{%extends 'base.html'%}

{%block content%}

<div class="center">
	<h2>My type of Job List</h2>
	<ul class="typeOfJob">
		{% for typeOfjob in typeOfjobs_by_pro %}
			<li><a>{{ typeOfjob.typeOfJob_name }}   {{ typeOfjob.price }}</a>
				 <div  class="task-controls">
				 	<a href="{%url 'typeOfJob_delete' typeOfjob.typeOfJob_id %}"><i class="bi bi-trash"></i> </a>
					<a href="{%url 'typeOfJob_update' typeOfjob.typeOfJob_id %}"><i class="bi bi-pencil-square"></i></a>
		         </div>
		    </li>
		{% endfor %}
	</ul>
</div>
{%endblock content%}