{% extends "account/profile.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}
  Pro4U Homepage
{% endblock %}

{% block center-content %}
  <div class="container">
    <div class="row">
      {% if request.user.is_authenticated %}
        {% with client=request.user|retrieve_client_by_user_id %}
          {% if client %}
            {% for professional in professionals %}
              <div class="col-md-3" style="margin-bottom: 18px;">
                <div style="">
                  <a href="#" style="text-decoration: none;">
                    <!-- TODO: add link to profile -->
                    {% if professional.thumbnail %}
                      <img class="img-fluid" src="{% static professional.thumbnail %}">
                    {% else %}
                      <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png">
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center mt-2">
                      <div class="text-left text-dark fw-semibold">
                        {{ professional.profile_id.user_id.get_full_name }}
                      </div>
                      <div class="text-right text-dark fw-semibold">
                        <strong style="color: rgb(255, 215, 0);">&#9733;</strong> {{ professional.avg_rating }}
                      </div>
                    </div>
                    <div class="text-body-secondary">
                      {{ professional.profile_id.city }}
                    </div>
                    <div class="text-body-secondary">
                      {{ professional.get_profession_display }}
                    </div>
                  </a>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      {% else %}
        <div class="vstack gap-2 col-md-5 mx-auto text-center text-danger">
          <h1>
            This page is only available to authorized clients
          </h1>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}