{% extends "landing/learn-base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Pro4U</h2>
        <h2>Innovative Solution!</h2>
        <p>
          Pro4U (professional for you) is an application that works like a social network. It gives you an option to schedule appointments with private professionals throughout the country, including cosmetologists, plumbers, tinsmiths, glaziers, gardeners, and more.
        </p>
        <ul>
          <li>Professionals can add the types of work done, products for sale, appointment availability, and prices.</li>
          <li>Users can add opinions about professionals and schedule appointments during working hours.</li>
        </ul>
	    <!-- TODO: link `More Info` to sign up page -->
        <a href="#" class="btn btn-primary">More Info</a>
      </div>
      <div class="col-md-6">
        <div class="row">
          {% for member in team_members %}
            <div class="col-4 mb-4">
              <div class="card">
                <img src="{% static member.img %}" class="card-img-top" alt="{{ member.alt }}" style="height: 150px; width: 150px; object-fit: cover;">
                <div class="card-body">
                  <p class="card-text">{{ member.name }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}