{% extends 'landing/homepage.html' %}
{% load static %}

{% block head_content %}
    <!--Add stylesheets dynamically-->
    {% block head_content2 %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link href=https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src=https://kit.fontawesome.com/297bbe7878.js crossorigin="anonymous"></script>
{% endblock %}

{% block title %}{{ profile.user_id.first_name}}'s Profile{% endblock %}

{% block content %}
    <div>
        <div class="container-fluid" style="margin-top: 40px; float: left; width: 30">
            <div class="row">
                <div class="col-md-2 static">
                    <div class="profile-card">
                        <img src="{% static 'img/blank_profile.png' %}" alt="user" class="profile-photo">
                        <h5><a href="#" class="text-white">{{profile.user_id.first_name}}</a></h5>
                    </div>
                    <ul class="nav-news-feed">
                        <li><i class="fa fa-list-alt icon1"></i><div><div class="litext">
                            <a href="#">
                                Feed
                            </a>
                        </div></div></li>
                        <li><i class="fa fa-comments icon4"></i><div><div class="litext">
                            <a href="#">
                            Messages
                            </a>
                        </div></div></li>
                        <li><i class="fas fa-calendar-alt"></i><div><div class="litext">
                            <a href="#">
                            Appointments
                            </a>
                        </div></div></li>
                        {% if profile.user_type == 'P' %}
                            <li><i class="fas fa-briefcase"></i><div><div class="litext">
                            <a href="#">
                                Type Of Jobs
                            </a>
                            </div></div></li>
                            <li><i class="far fa-clock"></i><div><div class="litext">
                            <a href="#">
                                Schedule
                            </a>
                            </div></div></li>
                        {% elif profile.user_type == 'C' %}
                            <li><i class="fa fa-search"></i><div><div class="litext">
                            <a href="#">
                                Search
                            </a>
                            </div></div></li>
                        {% endif %}
                        <li><i class="fas fa-cog"></i><div><div class="litext">
                            <a href="#">
                            Settings
                            </a>
                    </ul>
                </div>
                <div class="col-md-10">
                    {% block center-content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

